matplotlib==3.8.3
numpy==1.26.4
pandas==2.2.1
pdpbox==0.2.0
seaborn==0.13.2
shap==0.45.1
sinfo==0.3.4
scikit-learn==1.2.2 #sklearn==1.2.2  # sinfo() no obtiene el nombre correcto de este package
xgboost==2.0.3
IPython==8.22.2
jupyter_client==8.6.1
jupyter_core==5.7.2
eli5==0.13.0
imbalanced-learn==0.12.2 #imblearn==0.12.2  # sinfo() no obtiene el nombre correcto de este package
#joypy==0.2.6
